<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INDEX</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
</head>
    <body>

        <div class="container">
            <form>
                <input class ="reset" type="submit" name="reset" value="G">
            </form>
            <div class="header">
                <p>Health Assistant</p>
            </div>
            <div class="body" id="chatbox">
                <div class="chatbox">
                    <p class="message">Hello</p>
                    <p class="message">You can ask me anything about your lung health</p>
                    <div class="message">
                        <form action="/CNN" method="POST" enctype="multipart/form-data" id="uploadImageForm">
                            <input type="file" name="image"/>
                            <label class="custom-file-label" for="image"></label>
                            <button id="uploadButton"><img src="{{url_for('static', filename='images/upload-icon.png')}}" alt="upload icon" width="36px"></button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="input">
                    <input class="inputText" id="input" type="text" name="userInput" placeholder="Chat with the Lung Health Assistant">
                    <button id="sending" pys-onClick="onClick">SEND</button>
                </div>
            </div>
        </div>
    </body>
</html>

<script>
    const chatbox = document.getElementsByClassName("chatbox");
    const body = document.getElementsByClassName("body");
    var sendingButton = document.getElementById("sending");
    var inputText = document.getElementsByClassName("inputText");
    
    $('#uploadImageForm' ).submit(
        function( e ) {
            var jqXHR = $.ajax( {
                url: '/CNN',
                type: 'POST',
                data: new FormData( this ),
                processData: false,
                contentType: false,
                success: function(result){
                    addTextMsgChild(false,result["result"]);
                }
            } );
            e.preventDefault();
        } 
    );
    sendingButton.addEventListener("click", function(e){
        if(inputText[0].value!=""){
            addTextMsgChild(true,inputText[0].value);
            emptyInputBox();
            result = runPyScript(inputText[0].value);
            console.log('Got back ' + result);
        }
    });
    function addTextMsgChild(userMsg,msg){
        var child = document.createElement('p');
        var text = document.createTextNode(msg);
        child.appendChild(text);
        child.classList.add("message");
        if(userMsg){
            child.classList.add("user_message");
        }
        chatbox[0].appendChild(child);
        extendChatBoxLength();
        checkChatBoxMaxLength();
    }
    function extendChatBoxLength(){
        body[0].scrollTop = body[0].scrollHeight;
    }
    function emptyInputBox(){
        inputText[0].value = "";
    }
    function checkChatBoxMaxLength(){
        if(chatbox[0].children.length > 32){
            chatbox[0].removeChild(chatbox[0].firstChild);
        }
    }
    function runPyScript(input){
        var jqXHR = $.ajax({
            type: "POST",
            url: "/CNN",
            async: false,
            data: { data: input }
        });
        return jqXHR.responseText;
    }
</script>